// Condensed styles
.table-condensed
  table
    thead
      tr
        height: 40px
    tbody
      tr
        td, th
          height: 36px
    tfoot
      tr
        height: 36px
    thead, tbody, tfoot
      tr
        td, th
          &:first-child
            padding: 0 16px
            @media screen and (max-width: $grid-breakpoints.md - 1)
              padding: 0 8px 0 16px
          &:not(:nth-child(1))
            padding: 0 16px
            @media screen and (max-width: $grid-breakpoints.md - 1)
              padding: 0 8px

.container.container-condensed
  padding: 12px
  @media screen and (max-width: $grid-breakpoints.sm - 1)
    padding: 8px 0 0
    .v-card
      border-radius: 0

.container-thin
  padding: 0 !important
.container.container-thin
  .layout
    .flex
      padding-top: 0 !important
      padding-bottom: 0 !important

.card-title-condensed
  padding: 0 16px
  min-height: 48px
