// Light / Dark modes
.theme--light
  .table-toolbar
    background-color: $shades.white !important
  .milnode-toolbar
    background-color: $grey.lighten-5 !important
  .milnode-drawer-close
    color: $grey.darken-1 !important

.theme--dark
  .table-toolbar
    background-color: $grey.darken-4 !important
