// Custom milnode theme
.strongify
  font-weight: 900 !important
.lightify
  color: #BBB

.v-select__selections
  white-space: nowrap
  
.v-chip--x-small
  font-size: 12px
  height: 18px
  .v-chip__content
    line-height: 1
    padding: 8px
