// Custom milnode theme
.strongify
  font-weight: 900 !important
.lightify
  color: #BBB

table
  tr.table-info-footer
    font-size: 12px
    font-weight: 500
    color: rgba(0,0,0,.54)
    &:first-of-type
      border-top: 1px solid rgba(0,0,0,.20)

.v-select__selections
  white-space: nowrap
  
.v-chip--x-small
  font-size: 12px
  height: 18px
  .v-chip__content
    line-height: 1
    padding: 8px
